.SearchBar {
    &-cityNameInput:focus {
        color: #ccd5ae;
        outline: .15rem solid #ccd5ae;
    }
    &-cityNameInput {
        color: #ccd5ae;
        font-weight: 700;
        background-image: url('images/send.png');
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: 50%;
        background-size: 42px;
    }
    &-cityNameInput::placeholder {
        color: #ccd5ae;
        font-weight: initial;
        font-style: italic;
    }
}