.Profil {  
    background-color: rgba(255,255,255,.5);
    border-radius:  .5rem;
    border: 1px solid rgb(96, 84, 90,1);
    padding: 1rem;
    &-Informations {
        width: 60%;
    }
    &-Actions {
        width: 35%;
    }
    &-Dashboard{
        display:flex;
    }

}