.TrekDetails {
    background-color: rgba(255,255,255,.5);
    border-radius:  .5rem;
    border: 1px solid rgb(96, 84, 90,1);
    padding: 1rem;
    color: rgb(87, 98, 47);
    position: relative;

    &-button {
        
        
    }

    &-container-head {
       display: flex;
       justify-content:space-between;
       margin-top: 0.3rem;
    }
    &-container-head-right {
        border-radius:  .5rem;
        border: 1px solid rgb(96, 84, 90,1);
        max-width:50%;
        width:50%;
        margin-left:0.3rem;
        padding:0.2rem;
    }
    &-container-head-left {
        border-radius:  .5rem;
        
        max-width:50%;
        margin-right:0.3rem;
        padding:0.2rem;
        background-color: rgba(87, 98, 47,.15);

    }
    &-map {
        width: 100%;
        max-height: 100px;
        background-color: white;
    }
    &-h1 {
        font-size: 2.5rem;
        color: rgb(87, 98, 47);
        
        text-align: center;
        
        
       
    }
   
    &-container-info {
        display: flex;
        flex-direction: column;
        font-style: italic;
    }
    &-info {
        background-color: rgba(87, 98, 47,.5);
        border-radius:  .5rem;
        padding: 0.3rem;
        margin:0.3rem;
        display: flex;
        justify-content:center;

    }
    &-container-img {
        
        max-height: 500px;
        
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;;
    }


}
#map {
    height: 500px;
    border: 3px solid #ccd5ae;
    border-radius: .5rem;
}