.Trek {
    width: 25%;
    max-height: 600px;
    padding: .75rem;
    //background-color: rgba(255,255,255,.5);
    background-color: rgba(87, 98, 47,.1);
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,.2);
    margin: .75rem;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    
    
    figure {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    img {
        display: block;
        margin: auto;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .5rem;
        max-height: 250px;
    }
    header {
        margin: .75rem 0rem;
        text-align: center;
        font-weight: 700;
    }

    main {
        text-align: justify;
        height: 200px;
    overflow: hidden;

    }

    footer {
        margin: .75rem 0rem;
        text-align:center;
    }

    &-hr {
        border-top : 1px solid rgba(0,0,0,.2);
        margin-bottom: .5rem;
    }
    &-button {
        width: 100%;
    }
}

@media screen and (max-width: 640px){
    .Trek {
        width: 100%;
        margin: auto;
        margin-bottom: .5rem;
    }

}